body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Jost", sans-serif;
  background: linear-gradient(to bottom, #290c0c, #632b2b, #3e2424);
}
.main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e) no-repeat
    center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}
#check {
  display: none;
}
.signup {
  position: relative;
  width: 100%;
  height: 100%;
}
label {
  color: wheat;
  font-size: 2.5em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

input {
  border: 3px solid black;
  width: 65%;
  height: 20px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 15px auto;
  padding: 10px;
  outline: none;
  border-radius: 15px;
}

::placeholder {
  color: black;
}

button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: black;
  background: #874bf8;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: 2px solid black;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
  text-transform: uppercase;
}
button:hover {
  background: linear-gradient(to bottom, #290c0c, #632b2b, #3e2424);
  cursor: pointer;
  color: wheat;
}
.login {
  height: 460px;
  background: wheat;
  border-radius: 60% / 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}
.login label {
  color: black;
  transform: scale(0.6);
}

.login label:hover {
  color: black;
  transform: scale(0.6);
}

#check:checked ~ .login {
  transform: translateY(-500px);
}
#check:checked ~ .login label {
  transform: scale(1);
}
#check:checked ~ .signup label {
  transform: scale(0.6);
}
